<!DOCTYPE html>

<html>
    <head>
        <title>U.S. Constitution</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <div id="banner"></div>
        
        <div class="container" style="margin-top: 32px">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-center">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" id="question" class="form-control" placeholder="Ask me about the Constitution" name="query" value="{{ query }}">
                            <div class="input-group-append">
                                <button type="submit" id="answerButton" class="btn btn-primary">
                                    <i class="fa fa-question"></i>
                                </button>
                                </div>
                        </div>
                    </form>
                    <p class="text-left" id="answer">{{ answer|safe }}</p>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </body>
</html>